
backend/bin/Debug/netcoreapp3.1/appsettings.Development.json
backend/bin/Debug/netcoreapp3.1/appsettings.json
backend/bin/Debug/netcoreapp3.1/backend.deps.json
backend/bin/Debug/netcoreapp3.1/backend.dll
backend/obj/Debug/netcoreapp3.1/staticwebassets/backend.StaticWebAssets.xml
backend/obj/Debug/netcoreapp3.1/staticwebassets/backend.StaticWebAssets.Manifest.cache
backend/obj/Debug/netcoreapp3.1/backend.RazorTargetAssemblyInfo.cache
backend/obj/Debug/netcoreapp3.1/backend.pdb
backend/obj/Debug/netcoreapp3.1/backend.MvcApplicationPartsAssemblyInfo.cache
backend/obj/Debug/netcoreapp3.1/backend.genruntimeconfig.cache
backend/obj/Debug/netcoreapp3.1/backend.exe
backend/obj/Debug/netcoreapp3.1/backend.dll
backend/obj/Debug/netcoreapp3.1/backend.csprojAssemblyReference.cache
backend/obj/Debug/netcoreapp3.1/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/netcoreapp3.1/backend.csproj.CoreCompileInputs.cache
backend/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
backend/bin/Debug/netcoreapp3.1/backend.runtimeconfig.json
backend/bin/Debug/netcoreapp3.1/backend.runtimeconfig.dev.json
backend/bin/Debug/netcoreapp3.1/backend.pdb
backend/bin/Debug/netcoreapp3.1/backend.exe
backend/obj/Debug/netcoreapp3.1/backend.csprojAssemblyReference.cache
